.DS_Store
.vscode/

# Unity ビルド成果物
mobile_app/android/unityLibrary/.gradle/
mobile_app/android/unityLibrary/build/
mobile_app/android/unityLibrary/launcher/build/
mobile_app/android/unityLibrary/ARakugaki_BurstDebugInformation_DoNotShip/
mobile_app/android/unityLibrary/src/main/Il2CppOutputProject/
mobile_app/android/unityLibrary/src/main/jniLibs/
mobile_app/android/unityLibrary/symbols/

# Flutter / Android Gradle ビルド成果物
mobile_app/android/build/
mobile_app/build/
